@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Quicksand', sans-serif;
    color:#fff;
    background: #181822;
}

a{
    text-decoration: none;
    color: #fff;
}
.div1{width: 800px;
    margin: 5em auto;
    padding: 2em;
    background-color: #262626;
}
.muchclassthing{
    box-shadow: #555 0 0 5px;
    width: 700px;
    margin: auto;
    padding: auto;
    color:black;
    border-radius: 5px;
    text-align: center;
    background: #808aff;
}
h1, h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p{
    margin: 10px 0;
}

img {
    width: 6%;
  }

  .navbar{
    overflow: hidden;
    margin: auto;
    height: 80px;
    background: url(https://i.imgur.com/kPclESu.jpg);
  }
  .navbar a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
  }

.navbar ul {
    display: flex;
}

.navbar a {
    padding: 30px;
    margin: 0 5px;
}

.container {
    max-width: 1100px;
    margin: 0 5px;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logochirren {
    order: -1;
}

.btmbar{
    background: url(https://i.imgur.com/kPclESu.jpg);
    color: white;
    height: 120px;
    justify-content: space-between;
}

.btmbar .flex {
    justify-content: space-between;
}